<style>
  .borda {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
  }
</style>

<form>

  <div class="borda">

    <div class="form-group">
      <label for="bairroCliente">Bairro</label>
      <input type="text" class="form-control" id="bairroCliente" placeholder="Bairro">
    </div>

    <div class="form-group">
      <label for="cepCliente">CEP</label>
      <input type="text" class="form-control" id="cepCliente" placeholder="CEP">
    </div>

    <div class="form-group">
      <label for="codigoMunicipio">Código Município</label>
      <input type="text" class="form-control" id="codigoMunicipio" placeholder="Código Município">
    </div>

    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento" placeholder="Complemento">
    </div>

    <div class="form-group">
      <label for="ddd">DDD</label>
      <input type="text" class="form-control" id="ddd" placeholder="DDD">
    </div>

    <div class="form-group">
      <label for="emailCliente">Email Cliente</label>
      <input type="text" class="form-control" id="emailCliente" placeholder="Email Cliente">
    </div>

    <div class="form-group">
      <label for="enderecoCliente">Endereço Cliente</label>
      <input type="text" class="form-control" id="enderecoCliente" placeholder="Endereço Cliente">
    </div>

    <div class="form-group">
      <label for="estadoCliente">Estado Cliente</label>
      <input type="text" class="form-control" id="estadoCliente" placeholder="Estado Cliente">
    </div>

    <div class="form-group">
      <label for="inscricaoEstadual">Inscrição Estadual</label>
      <input type="text" class="form-control" id="inscricaoEstadual" placeholder="Inscrição Estadual">
    </div>

    <div class="form-group">
      <label for="municipioCliente">Município Cliente</label>
      <input type="text" class="form-control" id="municipioCliente" placeholder="Município Cliente">
    </div>

    <div class="form-group">
      <label for="naturezaCliente">Natureza</label>
      <input type="text" class="form-control" id="naturezaCliente" placeholder="Natureza">
    </div>

    <div class="form-group">
      <label for="nomeCliente">Nome</label>
      <input type="text" class="form-control" id="nomeCliente" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="nomeFantasia">Nome Fantasia</label>
      <input type="text" class="form-control" id="nomeFantasia" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" placeholder="Telefone">
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <input type="text" class="form-control" id="tipo" placeholder="Tipo">
    </div>


    <div class="form-group">
      <label for="natureza">Natureza</label>
      <input type="text" class="form-control" id="natureza" placeholder="natureza">
    </div>

    <div class="form-group">
      <label for="filial_titulo">Filial Titulo</label>
      <input type="text" class="form-control" id="filial_titulo" placeholder="Filial Titulo">
    </div>

    <div class="form-group">
      <label for="prefixo_titulo">Prefixo Titulo</label>
      <input type="text" class="form-control" id="prefixo_titulo" placeholder="Prefixo Titulo">
    </div>

    <div class="form-group">
      <label for="numero_titulo">Número Titulo</label>
      <input type="text" class="form-control" id="numero_titulo" placeholder="Número Titulo">
    </div>

    <div class="form-group">
      <label for="parcela_titulo">Parcela Titulo</label>
      <input type="text" class="form-control" id="parcela_titulo" placeholder="Parcela Titulo">
    </div>

    <div class="form-group">
      <label for="tipo_titulo">Tipo Título</label>
      <input type="text" class="form-control" id="tipo_titulo" placeholder="Tipo título">
    </div>

    <div class="form-group">
      <label for="forma_pagamento">Forma de Pagamento</label>
      <input type="text" class="form-control" id="forma_pagamento" placeholder="Forma de Pagamento">
    </div>

    <div class="form-group">
      <label for="data_emissao">Data de Emissão</label>
      <input type="text" class="form-control" id="data_emissao" placeholder="Data de Emissão">
    </div>

    <div class="form-group">
      <label for="data_vencimento">Data de Vencimento</label>
      <input type="text" class="form-control" id="data_vencimento" placeholder="Data de Vencimento">
    </div>

    <div class="form-group">
      <label for="valor_titulo">Valor de Titulo</label>
      <input type="text" class="form-control" id="valor_titulo" placeholder="Valor de titulo">
    </div>

    <div class="form-group">
      <label for="historico">Histórico</label>
      <input type="text" class="form-control" id="historico" placeholder="Histórico">
    </div>

    <div class="form-group">
      <label for="numero_projeto">Número projeto</label>
      <input type="text" class="form-control" id="numero_projeto" placeholder="Número do projeto">
    </div>

    <div class="form-group">
      <label for="centro_custo">Centro de custo</label>
      <input type="text" class="form-control" id="centro_custo" placeholder="Centro de custo">
    </div>


  </div>
</form>
